<launch>
    
    <!-- Upload robot model -->
    <include file="$(find mr_description)/launch/mr_upload.launch"/>
    
    <!-- Run rviz and update robot states -->
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mr_description)/config/mr.rviz" required="true" respawn="false" />
    
</launch>
